@font-face {
    font-family: partystd;
    src: url("../fonts/PartyStd.otf") format("opentype");
}

@font-face {
    font-family: Shining Night;
    src: url("../fonts/Shining Night.otf") format("opentype");
}